.divisor_title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border: 5px solid $primary_light_color;
    width: 10%;
}

.divisor_primary {
    margin-top: .6rem;
    margin-bottom: .8rem;
    border: 2px solid $primary_light_color;
    width: 100px;

}